header {
	border: 1px solid hotpink;
}

nav li {
	display: inline;
}

nav li a {
	color: hotpink;
	margin: 0 10px;
}

a .disabled {
	color:purple;
}

.disabled {
	color: grey;
}

.active {
	color: yellow;
}

#red {
	color: red;
}

#blue {
	color: blue;
}

input {
	height: 25px;
}

.promo {
	color: gold;
	font-weight: bold;
}

#red ~ h4 {
	background-color: red;
}

#blue ~ h4 {
	background-color: blue;
}

.grandparent > h4 {
	border: 1px solid black;
}
